<!DOCTYPE html>
<html>

<body>
{{!-- <a href="https://auth.sandbox.ebay.com/oauth2/authorize?client_id=Dineshkl-AuthCode-SBX-a1b09fbb0-38906baf&response_type=code&redirect_uri=Dineshk_lm-Dineshkl-AuthCo-vaezjn&scope=https://api.ebay.com/oauth/api_scope/sell.inventory.readonly https://api.ebay.com/oauth/api_scope/sell.inventory https://api.ebay.com/oauth/api_scope/sell.account.readonly https://api.ebay.com/oauth/api_scope/sell.account https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly https://api.ebay.com/oauth/api_scope/sell.item">
    Authenticate with Ebay
</a> --}}
<a href="https://auth.ebay.com/oauth2/authorize?client_id=Dineshkl-AuthCode-PRD-81a0826f6-e4c3343c&response_type=code&redirect_uri=Dineshk_lm-Dineshkl-AuthCo-nepkoyna&scope=https://api.ebay.com/oauth/api_scope https://api.ebay.com/oauth/api_scope/sell.marketing.readonly https://api.ebay.com/oauth/api_scope/sell.marketing https://api.ebay.com/oauth/api_scope/sell.inventory.readonly https://api.ebay.com/oauth/api_scope/sell.inventory https://api.ebay.com/oauth/api_scope/sell.account.readonly https://api.ebay.com/oauth/api_scope/sell.account https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly https://api.ebay.com/oauth/api_scope/sell.fulfillment https://api.ebay.com/oauth/api_scope/sell.analytics.readonly https://api.ebay.com/oauth/api_scope/sell.finances https://api.ebay.com/oauth/api_scope/sell.payment.dispute https://api.ebay.com/oauth/api_scope/commerce.identity.readonly https://api.ebay.com/oauth/api_scope/commerce.notification.subscription">
    Authenticate with Ebay
</a>
</body>

</html>

